/* basic css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* main styles */
.page {
  width: 100vw;
  height: 100vh;
}
.home {
  background-color: green;
}
.about {
  background-color: blue;
}
.team {
  background-color: orange;
}
.contact {
  background-color: yellow;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  font-family: Montserrat;
  font-weight: 700;
  position: fixed;
  background-color: white;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  border-style: solid;
  width: 33.3vw;
  border-width: thick;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-about {
  border-color: blue;
}

#nav-team {
  border-color: orange;
}

#nav-contact {
  border-color: yellow;
}
