/* basic css reset */
html {
  box-sizing: border-box;
  font-size: 2vmax;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* main styles */
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
/* backgrounds */
.part1 {
  background-color: #6ecc82;
}
.part2 {
  background-color: #e04e38;
}
.part3 {
  background-color: #60a3bc;
}
.part4 {
  background-color: #f4be53;
}
/* content boxes */

.container {
  background: #eeebd0;
  width: 80vw;
  height: 70vh;
  margin-top: 10vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
}

.about {
}

.description {
  font-size: 0.8rem;
  width: 70%;
  text-align: justify;
}

.team {
}

.contact {
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 5vh;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  font-family: Montserrat;
  font-weight: 700;
  position: fixed;
  background-color: #eeebd0;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  border-style: solid;
  width: 33.3vw;
  border-width: thick;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-about {
  border-color: #e04e38;
}

#nav-team {
  border-color: #60a3bc;
}

#nav-contact {
  border-color: #f4be53;
}

@media only screen and (max-width: 640px) {
  .description {
    font-size: 2vh;
  }
}

.scroll-arrow {
  color: black;
  font-size: 2em;
  border-style: none;
  border-width: none;
  text-decoration: none;
  margin: 5vh auto 0 auto;
}
