/* basic css reset */
html {
  box-sizing: border-box;
  font-size: 2vmax;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* main styles */
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
/* backgrounds */
.part1 {
  background-color: #6ecc82;
}
.part2 {
  background-color: #e04e38;
}
.part3 {
  background-color: #60a3bc;
}
.part4 {
  background-color: #f4be53;
}
/* content boxes */

.container {
  background: #eeebd0;
  width: 80vw;
  height: 70vh;
  margin-top: 10vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
}

.about {
}

.description {
  font-size: 0.8rem;
  width: 70%;
  text-align: justify;
}

.team {
}

.contact {
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 5vh;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  font-family: Montserrat;
  font-weight: 700;
  position: fixed;
  background-color: #eeebd0;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  border-style: solid;
  width: 33.3vw;
  border-width: thick;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-about {
  border-color: #e04e38;
}

#nav-team {
  border-color: #60a3bc;
}

#nav-contact {
  border-color: #f4be53;
}

.grid {
  display: grid;
  height: 80%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "christine christine colette colette"
    "christine christine colette colette"
    "reuben reuben gregor gregor"
    "reuben reuben gregor gregor";
}

.christine {
  grid-area: christine;
}
.colette {
  grid-area: colette;
}

.reuben {
  grid-area: reuben;
}

.gregor {
  grid-area: gregor;
}

.member1 {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0.5em;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "memPic memName"
    "memPic memDesc";
}

.member2 {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0.5em;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "memName memPic"
    "memDesc memPic";
}

.memPic {
  grid-area: memPic;
  overflow: hidden;
  object-fit: contain;
  padding: 0.5em;
  max-height: 100%;
  border-radius: 50%;
}

.memName {
  grid-area: memName;
  font-size: 1rem;
}

.memDesc {
  grid-area: memDesc;
  font-size: 0.6rem;
  text-align: justify;
  padding: 0.1em;
}

@media only screen and (max-width: 640px) {
  .description {
    font-size: 0.85em;
  }

  .grid {
    grid-template-areas:
      "christine christine christine christine"
      "colette colette colette colette"
      "reuben reuben reuben reuben"
      "gregor gregor gregor gregor";
  }
}

.scroll-arrow {
  color: black;
  font-size: 2em;
  border-style: none;
  border-width: none;
  text-decoration: none;
  margin: 5vh auto 0 auto;
}

form {
  max-width: 650px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  margin: 10px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
